.ban{
    background-color: #0D1724;
}
.list a, .humans, .tweet, .linear, .what, .build, .sion, .nengi, .bel{
    color: #FFFFFF !important;
}
.us, .get{
    color: #F05234 !important;
}
.we{
    color: #0B1C1A;
}
.tech p, .word, .press{
    color: #213533;
}
.serve{
    background-color: #F7F8FD;
}
.custom, .face{
    background-color: #FFFFFF;
}
.explain{
    background-color: #9e9e9e33;
}
.plain{
    background-color: #213533;
}
.increase{
    color: #F05234;
}